@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@300;400&family=Ubuntu:wght@500&display=swap');

*{
    /* font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */
font-family: 'Ubuntu', sans-serif;
}

.navbar {
    display: flex;
    background-color: #ffffff;
    top: 0;
    z-index: 10;    
    position: sticky;
}
/* 
.btn {
    width: 10?%px;
    height: 50px;
    margin-right: 13px;
} */

.category {
    color:  #15b6ac;
    font-style: bold ;
    font-size: 23px;
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
    -moz-text-size-adjust:none;
    text-size-adjust:none;
}
.theme-color{
    color: #15b6ac;
}
.dropdown .dropdown-menu-start {
    position: absolute;
    top: 0;
    left:0;
}

.btn-hire-a-pro button {
    border-radius: 9px;
    border: 1px solid black;

}

.btn-hire-a-pro button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 9px;
}

.slected-hover {
    border-left: 5px solid white;
    border-radius: 5px;
}

.slected-hover:hover { 
    border-left: 5px solid #15b6ac;
    border-radius: 5px;
    /* background-color: aliceblue; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
}

/* .custom-intro::after {
    content: "";
    width: 30px;
    height: 30px;
    background:red url("http://www.gentleface.com/i/free_toolbar_icons_16x16_black.png") no-repeat -30px -50px fixed;
    top: 10px;
    right: 5px;
    position: absolute;
    display: inline-block;
} */

.left_head_sec {
    margin-right: 5.5%;
}
.heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 3.2rem;
    padding-bottom: 30px;
}

.para_text {
    font-size: unset !important;

    background:transparent;
    
}

.top_module {
    margin-bottom: 5.6%;
}

.for_bg {
    width: 80%;
}

.custom-intro div {
    align-content: center;
}
.custom-intro {
    text-align: center;
    width: 10%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 12px;
    position: absolute;
    right: 14%;
    top: 21%;
}

.image-with-tilte {
    background-image: url("aleeha.png");
    z-index: 1;
    width: fit-content;
    background-position: top left;
    padding: 216px;
    background-repeat: no-repeat;
    background-size: 350px;
    color: rgb(11, 11, 11);
}



/* company_partners */

.company_partners {
    margin-top: 0px;
    height: 100px;
    background-color: #3148468b;
    overflow: hidden;
}


.company_partners div {
    position: relative;
    animation-name: move;
    animation-duration: 9s; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
    animation-duration: alternate;
    
     /* animation: 5s linear 1s infinite alternate slidein; */
}

@keyframes move {
    from {
      right: 0;
    }
    to {
        right: 100%;
    }
}



.container_content {
    text-align: center;
    padding: 80px;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
}

.content_header {
    padding-bottom: 12px;
}

.content_description {
    padding-bottom: 12px;
    font-size: 17px;
}


.container-lg .row div {
    border: 1px solid black;
    width: 190px;
    height:190px;
}

.col-xl-4 {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 7px;
}


.inner_row_element {
 padding: 30px;   
 display: flex;
}

.image_header {
    margin-bottom: 23px;
}
.content_section_heading {   
    margin-bottom: 17px;
}

.svg_icon {
    width: 50px;
    height: 50px;
}

.col-xl-4:hover {
    background-color: #15b6ac;
    animation-name: animated_card;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.0, 0.82, 0.15, 0.3);
    color: white;
    fill: black;
}

@keyframes animated_card {
    0%  { 
        opacity: 0;
    }
    10% { 
        opacity: 0.1;
    }
    20% { 
        opacity: 0.2;
    }
    30% { 
        opacity: 0.3;
    }
    40% { 
        opacity: 0.4;
    }
    50% { 
        opacity: 0.5;
    }
    60% { 
        opacity: 0.6;
    }
    70% { 
        opacity: 0.7;
    }
    80% { 
        opacity: 0.8;
    }
    90% { 
        opacity: 0.9;
    }
    100%{ 
        opacity: 0.9;
    }
}

/* portfolio Section */

.list_of_links {
    list-style: none;
    box-shadow: none;
    display: flex;
    text-align: center;
}

.list_of_links li {
    width: fit-content ;
    box-sizing: border-box;
    background-color: #D9D9D9;
    border-radius: 12px;
    margin-left: 10px;
    margin-bottom: 12px;
}
.list_of_links li  {
    font-size: larger;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 8px 15px;
    color: black;
}


.list_of_links li:active {
    background-color: #0c3a53;
    animation-duration: .5s;
    animation: cubic-bezier(0.47, 0, 0.745, 0.715);
}




.testimonial_reach {
    position: relative;
}

.circled_div {
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
    margin: auto;
    text-align: center;
    box-shadow: #D8DBE8 0px 7px 0px 0px;
}
.circled_div p {
    position: absolute;
    top: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    left: 28%;
    color: gray;
}
.circled_div strong {
    position: absolute;
    top: 37%;
    left: 28%;
    font-size: 44px;
}


.circled_div::after {
    background-image: url('/Circle.jpg');
    content: '';
    mix-blend-mode: darken;
    background-size: cover !important;
    background-repeat: no-repeat;
    transform: rotate(360deg) !important;
    position: absolute;
    width: 300px;
    height: 153px;
    left: -53px;
    top: 115px;
    z-index: 9;
}



.custom_boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    transition: .5s ease;
}

.faq_section {
    margin-top: 15%;
}





/* faq_bottom_desc_box */

.question_number_1 {
        display: block;
        position: relative;
        cursor: pointer; 
}
.question_1_desc {
    min-width: 100%;
    padding: 15px 0;
    position: absolute;
    background: #15b6ac;
    transition: 0.5s padding, 0.5s background;
}



.menu {
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
  border: none;
}
.menu-title {
    text-decoration: none;
    color: black;
    text-align: center;
}

.menu-dropdown {
  width: 100%;
 
  position: absolute;
  background: #ebebeb;
  z-index: 100;
  transition:
    0.5s padding,
    0.5s background;
}

.menu-dropdown>* {
  overflow: hidden;
  height: 30px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0);
  white-space: nowrap;
  transition:
    0.5s height cubic-bezier(.73, .32, .34, 1.5),
    0.5s padding cubic-bezier(.73, .32, .34, 1.5),
    0.5s margin cubic-bezier(.73, .32, .34, 1.5),
    0.5s 0.2s color,
    0.2s background-color;
}
  
.menu:not(:hover)>.menu-dropdown>* {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  transition:
    0.5s 0.1s height,
    0.5s 0.1s padding,
    0.5s 0.1s margin,
    0.3s color,
    0.6s visibility;
  z-index: 99;
}


a {
    text-decoration: none;
    color: white;
}


.tech-slideshow {
    height: 200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }

  
.tech-slideshow > div {
    height: 200px;
    width: 2526px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 22s linear infinite;
  }
  .tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 200px;
    animation: moveSlideshow 15s linear infinite;
  }
  .tech-slideshow:hover .mover-2 {
    opacity: 1;
  }
  
  @keyframes moveSlideshow {
    0% {
        transform: translate(0);
    }
    100% { 
      transform: translateX(calc(-250px * 9));  
    }
  }

.company_logos {

    white-space: nowrap;
    overflow: hidden;
}

.logos_slide{
      display: inline-block;
      animation: 5s slide  infinite linear;
    }

  @keyframes slide {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
  }